<template>
  <div>
    <v-card>
      <v-card-title primary-title>
        <div>
          <h3 class="headline mb-0">Dish to do!</h3>
        </div>
      </v-card-title>
      <v-card-text>
        <v-data-table :headers="headers" :items="dishes" class="elevation-1" hide-actions>
          <template v-slot:items="props">
            <td>{{ props.item.id }}</td>
            <td>{{ props.item.description }}</td>
            <td>
              <img
                v-if="props.item.image"
                :src="'http://localhost:3000/images/' + props.item.image"
                class="image"
              >
            </td>
            <td>{{ props.item.price }}</td>
            <td>{{ props.item.duration }}</td>
            <td>{{ props.item.portion }}</td>
          </template>
        </v-data-table>
        <br>
        <h3 class="headline mb-0">response: {{message}}</h3>
      </v-card-text>

      <v-card-actions>
        <v-btn color="primary" @click="getOrder">Get Order</v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<style>
.image {
  max-width: 200px;
  max-height: 200px;
}
</style>

<script>
import api from "@/methods/api";

export default {
  data() {
    return {
      message: "",
      selected: [],
      headers: [
        { text: "ID", value: "id", sortable: false },
        { text: "Description", value: "description", sortable: false },
        { text: "Image", value: "image", sortable: false },
        { text: "Price", value: "price", sortable: false },
        { text: "Duration", value: "duration", sortable: false },
        { text: "Portion", value: "portion", sortable: false }
      ],
      dishes: []
    };
  },
  methods: {
    getOrder() {
      api
        .put(
          "http://localhost:3000/orders/assignchef",
          { email: localStorage.getItem("email") },
          { authorization: "Bearer " + localStorage.getItem("token") }
        )
        .then(res => {
          this.dishes = [{ ...res.data.dish, portion: res.data.portion }];
          this.message = res.data;
        });
    }
  }
};
</script>
