<template>
  <div>
    <v-card>
      <v-card-title primary-title>
        <div>
          <h3 class="headline mb-0">Dishes</h3>
        </div>
      </v-card-title>
      <v-card-text>
        <v-data-table
          :headers="headers"
          :items="dishes"
          v-model="selected"
          item-key="id"
          class="elevation-1"
          select-all
        >
          <template v-slot:items="props">
            <td>
              <v-checkbox v-model="props.selected" primary hide-details></v-checkbox>
            </td>
            <td>{{ props.item.id }}</td>
            <td>{{ props.item.description }}</td>
            <td>
              <img
                v-if="props.item.image"
                :src="'http://localhost:3000/images/' + props.item.image"
                class="image"
              >
            </td>
            <td>{{ props.item.price }}</td>
            <td>{{ props.item.duration }}</td>
            <td>
              <v-text-field v-model="props.item.portion"></v-text-field>
            </td>
          </template>
        </v-data-table>
        <br>
        <h3 class="headline mb-0">response: {{message}}</h3>
      </v-card-text>

      <v-card-actions>
        <v-btn color="primary" @click="checkWaitingTime">Check Waiting Time</v-btn>
        <v-btn color="primary" @click="order">Order</v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<style>
.image {
  max-width: 200px;
  max-height: 200px;
}
</style>

<script>
import api from "@/methods/api";

export default {
  data() {
    return {
      message: "",
      selected: [],
      headers: [
        { text: "ID", value: "id" },
        { text: "Description", value: "description" },
        { text: "Image", value: "image" },
        { text: "Price", value: "price" },
        { text: "Duration", value: "duration" },
        { text: "Portion", value: "portion" }
      ],
      dishes: []
    };
  },
  methods: {
    fectData() {
      api.get("http://localhost:3000/dishes/all", {}).then(resp => {
        this.dishes = resp.data.map(dish => {
          return { ...dish, portion: 0 };
        });
      });
    },
    checkWaitingTime() {
      api
        .get("http://localhost:3000/orders/waitingtime", {
          id: this.selected.map(item => item.id)
        })
        .then(res => {
          this.message = res.data;
        });
    },
    order() {
      api
        .post(
          "http://localhost:3000/orders/create",
          {
            items: this.selected.map(item => {
              return { dishId: item.id, portion: item.portion };
            })
          },
          { authorization: "Bearer " + localStorage.getItem("token") }
        )
        .then(res => {
          this.message = res.data;
        });
    }
  },
  created: function() {
    this.fectData();
  }
};
</script>
