<template>
  <div>
    <v-card>
      <v-card-text>
        <v-toolbar flat color="white">
          <v-toolbar-title>Admin - Dishes</v-toolbar-title>
          <v-divider class="mx-2" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on }">
              <v-btn color="primary" dark class="mb-2" v-on="on">Add Dish</v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-container grid-list-md>
                  <v-layout wrap>
                    <v-flex xs12 sm6 md4>
                      <v-text-field v-model="editedItem.description" label="Description"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md4>
                      <v-text-field v-model="editedItem.price" label="Price"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md4>
                      <v-text-field v-model="editedItem.duration" label="Duration"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6 md4>
                      <input type="file" id="file" ref="image" v-on:change="handleFileUpload()">
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
                <v-btn color="blue darken-1" flat @click="save">Save</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
        <v-data-table :headers="headers" :items="dishes" class="elevation-1">
          <template v-slot:items="props">
            <td>{{ props.item.id }}</td>
            <td>{{ props.item.description }}</td>
            <td>
              <img
                v-if="props.item.image"
                :src="'http://localhost:3000/images/' + props.item.image"
                class="image"
              >
            </td>
            <td>{{ props.item.price }}</td>
            <td>{{ props.item.duration }}</td>
            <td class="justify-center layout px-0">
              <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
              <v-icon small @click="deleteItem(props.item)">delete</v-icon>
            </td>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
    <br>
    <admin/>
    <br>
    <chef/>
  </div>
</template>

<style>
.image {
  max-width: 200px;
  max-height: 200px;
}
</style>

<script>
import Admin from "./Cards/Admin.vue";
import Chef from "./Cards/Chef.vue";
import api from "@/methods/api";

export default {
  components: {
    admin: Admin,
    chef: Chef
  },
  data() {
    return {
      dialog: false,
      headers: [
        { text: "ID", value: "id" },
        { text: "Description", value: "description" },
        { text: "Image", value: "image" },
        { text: "Price", value: "price" },
        { text: "Duration", value: "duration" },
        { text: "Actions", value: "id", sortable: false }
      ],
      dishes: [],
      editedItem: {
        id: -1,
        description: "",
        image: null,
        price: 0,
        duration: 0
      },
      defaultItem: {
        id: -1,
        description: "",
        image: null,
        price: 0,
        duration: 0
      }
    };
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Dish" : "Edit Dish";
    }
  },
  methods: {
    handleFileUpload() {
      this.editedItem.image = this.$refs.image.files[0];
    },
    fectData() {
      api.get("http://localhost:3000/dishes/all", {}).then(resp => {
        this.dishes = resp.data;
      });
    },
    editItem(item) {
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },
    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
      }, 300);
    },

    save() {
      var data = new FormData();

      if (this.editedItem.id == -1) {
        data.append("image", this.editedItem.image);
        data.append("description", this.editedItem.description);
        data.append("price", this.editedItem.price);
        data.append("duration", this.editedItem.duration);
        api
          .post("http://localhost:3000/dishes/create", data, {
            authorization: "Bearer " + localStorage.getItem("token")
          })
          .then(() => {
            this.fectData();
            this.close();
          });
      } else {
        data.append("id", this.editedItem.id);
        data.append("image", this.editedItem.image);
        data.append("description", this.editedItem.description);
        data.append("price", this.editedItem.price);
        data.append("duration", this.editedItem.duration);
        api
          .put("http://localhost:3000/dishes/update", data, {
            authorization: "Bearer " + localStorage.getItem("token")
          })
          .then(() => {
            this.editedItem = { ...this.defaultItem };
            this.fectData();
            this.close();
          });
      }
    },
    deleteItem(item) {
      confirm("Are you sure you want to delete this item?") &&
        api
          .destroy(
            "http://localhost:3000/dishes/delete",
            { id: item.id },
            { authorization: "Bearer " + localStorage.getItem("token") }
          )
          .then(() => {
            this.fectData();
          });
    }
  },
  created: function() {
    this.fectData();
  }
};
</script>
