<template>
  <v-layout align-center justify-center>
    <v-flex xs12 sm8 md4>
      <v-card class="elevation-12">
        <v-alert value="true" type="error" v-if="isError">{{errorMessage}}</v-alert>
        <v-card-title class="align-center justify-center">
          <v-icon size="100px">lock</v-icon>
        </v-card-title>
        <v-card-text>
          <v-form ref="form" v-model="valid">
            <v-text-field
              prepend-icon="email"
              name="email"
              label="Email"
              type="text"
              v-model="email"
              v-bind:rules="emailRules"
              required
            ></v-text-field>
            <v-text-field
              id="password"
              prepend-icon="lock"
              name="password"
              label="Password"
              type="password"
              v-model="password"
              v-bind:rules="passwordRules"
              required
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn block dark color="primary" @click="login">Login</v-btn>
        </v-card-actions>
        <v-card-actions>
          <v-btn block dark color="green" @click="redirect('register')">Register</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import api from "@/methods/api";

export default {
  data: () => ({
    valid: false,
    email: "",
    emailRules: [v => !!v || "E-mail is required"],
    password: "",
    passwordRules: [v => !!v || "Password is required"],
    isError: false,
    errorMessage: "Login gagal"
  }),
  methods: {
    login: function() {
      if (this.$refs.form.validate()) {
        api
          .post("http://localhost:3000/auth/login", {
            email: this.email,
            password: this.password
          })
          .then(response => {
            localStorage.setItem("email", response.data.email);
            localStorage.setItem("token", response.data.token);
            if (response.data.role === 0) {
              this.$router.push("Home");
            } else if (response.data.role === 1) {
              this.$router.push("Chef");
            } else {
              this.$router.push("Customer");
            }
          });
      }
    },
    redirect: function(path) {
      this.$router.push(path);
    }
  }
};
</script>