<template>
  <v-layout align-center justify-center>
    <v-flex xs12 sm8 md4>
      <v-card class="elevation-12">
        <v-alert value="true" type="success" v-if="isSuccess">
          {{successMessage}}
          Halaman akan dialihkan ke halaman login. Klik
          <router-link to="/">login</router-link>jika halaman login tidak terbuka dalam 2 detik
        </v-alert>
        <div v-if="!isSuccess">
          <v-alert value="true" type="error" v-if="isError" v-html="errorMessage"></v-alert>
          <v-card-title class="align-center justify-center">
            <v-icon size="100px">person</v-icon>
          </v-card-title>
          <v-card-text align-center justify-center>
            <v-form ref="form" v-model="valid">
              <v-text-field
                prepend-icon="email"
                name="email"
                label="Email"
                type="text"
                v-model="email"
                v-bind:rules="emailRules"
                required
              ></v-text-field>
              <v-text-field
                id="password"
                prepend-icon="lock"
                name="password"
                label="Password"
                type="password"
                v-model="password"
                v-bind:rules="passwordRules"
                required
              ></v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-btn block color="primary" @click="register">Register</v-btn>
          </v-card-actions>
        </div>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import api from "@/methods/api";

export default {
  data: () => ({
    valid: false,
    email: "",
    emailRules: [v => !!v || "E-mail is required"],
    password: "",
    passwordRules: [v => !!v || "Password is required"],
    isSuccess: false,
    isError: false,
    successMessage: "Registrasi berhasil.",
    errorMessage: "Registrasi gagal."
  }),
  methods: {
    register: function() {
      if (this.$refs.form.validate()) {
        api
          .post("http://localhost:3000/auth/signup", {
            email: this.email,
            password: this.password
          })
          .then(() => {
            this.isSuccess = true;
          });
      }
    }
  }
};
</script>