<template>
  <v-card>
    <v-card-text>
      <v-toolbar flat color="white">
        <v-toolbar-title>Chef users</v-toolbar-title>
        <v-divider class="mx-2" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on }">
            <v-btn color="primary" dark class="mb-2" v-on="on">Add Chef</v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">New Chef</span>
            </v-card-title>

            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12 sm6 md4>
                    <v-text-field v-model="editedItem.email" label="Email"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md4>
                    <v-text-field v-model="editedItem.password" label="Password"></v-text-field>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
              <v-btn color="blue darken-1" flat @click="save">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
      <v-data-table :headers="headers" :items="users" class="elevation-1">
        <template v-slot:items="props">
          <td>{{ props.item.email }}</td>
          <td>{{ props.item.role }}</td>
          <td>
            <v-icon small @click="deleteItem(props.item)">delete</v-icon>
          </td>
        </template>
      </v-data-table>
    </v-card-text>
  </v-card>
</template>

<style>
.image {
  max-width: 200px;
  max-height: 200px;
}
</style>

<script>
import api from "@/methods/api";

export default {
  data() {
    return {
      dialog: false,
      headers: [
        { text: "Email", value: "email" },
        { text: "Role", value: "role" },
        { text: "Actions", value: "id", sortable: false }
      ],
      users: [],
      editedItem: {
        email: null,
        password: null
      },
      defaultItem: {
        email: null,
        password: null
      }
    };
  },
  methods: {
    fectData() {
      api
        .get(
          "http://localhost:3000/users/chefs/all",
          {},
          { authorization: "Bearer " + localStorage.getItem("token") }
        )
        .then(resp => {
          this.users = resp.data;
        });
    },
    editItem(item) {
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },
    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
      }, 300);
    },

    save() {
      var data = new FormData();

      data.append("image", this.editedItem.email);
      data.append("description", this.editedItem.password);
      api
        .post(
          "http://localhost:3000/users/chefs/create",
          {
            email: this.editedItem.email,
            password: this.editedItem.password
          },
          { authorization: "Bearer " + localStorage.getItem("token") }
        )
        .then(() => {
          this.fectData();
          this.close();
        });
    },
    deleteItem(item) {
      confirm("Are you sure you want to delete this item?") &&
        api
          .destroy(
            "http://localhost:3000/users/chefs/delete",
            { id: item.id },
            { authorization: "Bearer " + localStorage.getItem("token") }
          )
          .then(() => {
            this.fectData();
          });
    }
  },
  created: function() {
    this.fectData();
  }
};
</script>
