<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        <span>2359 Media </span>
        <span class="font-weight-light">Assignment</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <span class="headline text-uppercase">{{name()}}</span>
      <v-spacer></v-spacer>
      <v-btn flat @click="logout" v-if="isLoggedIn()">
        <span class="mr-2">Logout</span>
      </v-btn>
    </v-toolbar>

    <v-content>
      <v-container fluid fill-height>
        <v-layout id="app" class="justify-center">
          <v-flex xs12 sm8 md4>
            <router-view/>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  methods: {
    name(){
      return localStorage.getItem("email");
    },
    logout(){
      localStorage.removeItem("email");
      localStorage.removeItem("token");
      this.$router.push("/");
    },
    isLoggedIn: function() {
      return localStorage.getItem("token") ? true : false;
    }
  }
};
</script>
